extends layout 
//- The line above will look for a layout.pug file within the same directory as index.pug and use it if it exists.
//- If you are using subdirectories, you have to include folder path before the template file name (e.g. extends common/layout if layout.pug was in a /views/common folder).

block layout-content
  h1 Welcome to my website! 
  p This is my first Express app.