doctype html 
html 
  head
    meta(charset="utf-8") 
    title Movie Test
    link(rel="stylesheet", href="/css/styles.css")
  body
    include header.pug
    main#main(style="padding: 2em;")
      block layout-content 
    footer#footer 
      div &copy; 2025 HTTP5222 - Mahak Patel | Full-Stack Lab